<div>
    <form action="/api/books/<%= fields._id %>" method="POST" class="ebookstore-form">
        <input type="hidden" name="_method" value="put">
        <% for (const key in fields) { %>
            <% if (key !== '_id') { %>
                <label for="<%= key %>"><%= key.charAt(0).toUpperCase() + key.slice(1) %></label>
                <input type="<%= typeof fields[key] === 'number' ? 'number' : 'text' %>" 
                       name="<%= key %>" 
                       id="<%= key %>" 
                       value="<%= fields[key] || '' %>">
                <br>
            <% } %>
        <% } %>
        <button type="submit">Update Book</button>
    </form>
</div>
